<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAN39tT02NwQcoAIwG-QDsgxEy8iwoPVZk</string>
	<key>GCM_SENDER_ID</key>
	<string>926551021783</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsappCloneWoc</string>
	<key>PROJECT_ID</key>
	<string>whatsapp-clone-8f1b0</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsapp-clone-8f1b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:926551021783:ios:43d57cb428ab3a8f35b892</string>
</dict>
</plist>